//可以用來改變設定好的scss

$mainColor: orange;
$mainColor_2: green;
$fontSize: 14px;
$fontSize_px_18: 18px;
$fontSize_px_30: 30px;
$fontSize_em_1: 1em;
$fontSize_em_1_25:1.25em;
$fontSize_em_1_5: 1.5em;

//example...